body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;

  display: flex;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.conf {
  margin-top: 20px;
  display: grid;
}

.reset {
  grid-row: 1;
  font-size: 20px;
  background: #fff;
  border: 1px solid #999;
  width: 120px;
}

.type-game {
  justify-self: right;
  grid-row: 1;
  font-size: 20px;
  background: #fff;
  border: 1px solid #999;
  width: 120px;
}
